<div class="background-container">
  <div class="flex-container-column">

    <h1 class="h1-login">Log in</h1>

    <div class="login">
      <form action="/login" method="post">
        <input
          type="username"
          name="username"
          value=""
          placeholder="Enter your username"
        />
        <input type="password" name="password" value="" placeholder="******" />
        <input type="submit" value="Log in" />
      </form>
    </div>
  </div>
</div>