<br /><br /><br /><br />
<div class="background-container">
  <div class="flex-container-column">
    <h1 class="h1-login">Log in</h1>
    <div class="login">
      <form action="/login" method="post">
        <input
          class="input-style"
          type="username"
          name="username"
          value=""
          placeholder="Enter your username"
        />
        <input
          class="input-style"
          type="password"
          name="password"
          value=""
          placeholder="******"
        />
        <input class="default-btn" type="submit" value="Log in" />
        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>