<h1 class="h1-signup">Signup</h1>

<div class="signup">

  <form action="/signup" method="post">
    <input
      type="username"
      name="username"
      value=""
      required="true"
      placeholder="Enter your username"
    />
    <input
      type="password"
      name="password"
      value=""
      required="true"
      placeholder="******"
    />

    <input type="submit" value="Signup" />
  </form>

  {{! <button>
    <a href="/login">Go to log in page</a>
  </button> }}
</div>