<h2 class="title">Pictures Of the day</h2>
<div class="background-container">
  <div class="gallery-container">
    {{#each pictureOfTheDay}}
      <div>
        <img
          class="img-detail"
          src="{{url}}"
          loading="lazy"
          alt="Picture of the day"
        />
        <div class="text-container">
          <h2>{{title}}</h2>
          <h2>{{date}}</h2>
          <h3 class="img-description">{{explanation}}</h3>

        </div>
      </div>
    {{/each}}
  </div>
</div>