<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nasa Library</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="layout-nav">
      <div>
        <img class="img-logo" src="/images/nasa-logo.png" alt="Nasa Logo" />
      </div>
      <div class="nav-links-container">
        <div class="container-layout">
          <a href="/">Home</a>
        </div>
        <div class="dropdown container-layout">
          <span>Gallery</span>
          <div class="dropdown-content">
            <a href="/library">Library</a>
            <a href="/gallery">Mars Rover Gallery</a>
          </div>
        </div>
        {{#if isLoggedIn}}
          <div class="dropdown container-layout">
            <span>Profile</span>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/private-library">Private Library</a>
              <a href="/private/create">create new image</a>
              <a href="/admin">Settings</a>
            </div>
          </div>
        {{/if}}

        <!--isLoggedIn function in app.js-->
        {{#if isLoggedIn}}
          <div class="container-layout">
            <a href="/logout">Logout</a>
          </div>
        {{else}}
          <div class="container-layout">
            <a href="/signup">Sign up</a>
          </div>
          <div class="container-layout">
            <a href="/login">Login</a>
          </div>
        {{/if}}
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>