<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="layout-nav">
      <div class="container-layout">
        <a href="/">Home</a>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Profil</button>
        <div class="dropdown-content">
          <div class="container-layout">
            <a href="/profile">Profile</a>
          </div>
          <div class="container-layout">
            <a href="/private-library">Private Library</a>
          </div>
          <div class="container-layout">
            <a href="/admin">Settings</a>
          </div>
        </div>
      </div>

      <div class="container-layout">
        <a href="/library">library</a>
      </div>
      <div class="container-layout">
        <a href="/signup">Sign up</a>
      </div>
      <div class="container-layout">
        <a href="/login">Login</a>
      </div>

      <div class="container-layout">
        <button href="/logout">Logout</button>
      </div>

    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>