<div class="center-container">
  <form class="search-form" action="/library/search" method="post">
    <input type="text" placeholder="Search.." name="keyword" />
    <button class="search-btn" type="submit">Search</button>
  </form>
</div>

<div class="background-container">
  <div class="gallery-container">
        <h1>Nasa Image Library</h1>
      <div class="grid-container">
       {{#each randomLibrary}}
        <div>
          <a href="/library/{{data.0.nasa_id}}"><img
            class="img-gallery"
            src="{{links.0.href}}"
            alt="Picture of the day"
          /></a>
          <h3>{{data.0.title}}</h3>
          {{#if ../isLoggedIn}}
          <form action="/favorites" method="post">
            <button class="favorites-btn" type="submit">Add to favorites</button>
            <input
              type="text"
              name="imageId"
              value="{{data.0.nasa_id}}"
              hidden="true"
            />
          </form>
            {{/if}}
        </div>
        {{/each}}
      </div>
  </div>
</div>