<h1>Library</h1>
<div>
  {{#each randomLibrary}}
    <div>
      <img class="img-day" src="{{links.0.href}}" alt="Picture of the day" />
      <h1>{{data.0.title}}</h1>
      <a href="/library/{{_id}}">See more</a>
    </div>
  {{/each}}
</div>