<div class="background-container">

  <h1>Zour searched Items</h1>
  <div class="grid-container">
    {{#each searchedImages}}
      <div>
        <a href="/library/{{data.0.nasa_id}}"><img
            class="img-day"
            src="{{links.0.href}}"
            alt="Picture of the day"
          /></a>
        <h1>{{data.0.title}}</h1>
        <a href="/library/{{data.0.nasa_id}}">See more</a>
      </div>
    {{/each}}
  </div>
</div>