<div class="background-container">
  <div class="gallery-container">
    <h1>The Venus</h1>
    <div class="grid-container">
      {{#each venusPhotoData}}
       <div>
         <a href="/library/{{data.0.nasa_id}}"><img
            class="img-gallery"
            src="{{links.0.href}}"
            alt="Venus Image"
          /></a>
          <h3>{{data.0.title}}</h3>
     
      
          {{#if ../isLoggedIn}}
          <form action="/favorites" method="post">
            <button class="favorites-btn" type="submit">Add to favorites</button>
            <input
              type="text"
              name="imageId"
              value="{{data.0.nasa_id}}"
              hidden="true"
            />
          </form>
         {{/if}}
       </div>
        {{/each}}
    </div>
  </div>
</div>