body {
  font: 14px Fragile Bombers;
  margin: 0;
  background-image: url("/images/stars-background.avif");
  color: white;
}
h1 {
  text-align: center;
  padding: 10px;
}
h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

h3 {
  text-align: center;
  font-size: 20px;
}
.link-button {
  color: white;
}

.btn {
  color: white;
}

a,
.dropdown span {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
}

.img-logo {
  height: 50px;
}

img {
  height: 400px;
}

.img-day {
  width: 400px;
}

.layout-nav {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.container-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 50px;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.background-container,
.library-link {
  margin: 0 90 50px;
  padding: 0 50px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 100px;
}
.text-container {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0 80px;
  margin: 40px;
  width: 400px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 20px;
  justify-content: center;
}

.search-form {
  color: #000000;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  /* border: 1px solid grey; */
  width: 400px;
  background: #000000;
}
.search-btn,
input {
  font-size: larger;
  background-color: #000000;
  color: white;
  font-family: Fragile Bombers;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.img-description {
  text-align: justify;
  font-size: 18pt;
}

.login {
  text-align: center;
  padding: 30px;
  /* background-image: url(/public/images/man-looking-stars.jpeg); */
}
