body {
  font: 14px "Aloevera", Helvetica, Arial;
  margin: 0;
  background-image: url("/images/stars-background.avif");
  color: white;
}

a,
.dropdown span {
  color: white;
  font-size: 20px;
  text-decoration: none;
  /*font-family: Astrobia;*/
  /* font-family: DigitalSpace; */
  /* font-family: Midnight Moon; */
  /* font-family: TheWastesOfSpace; */
}

.img-logo {
  width: 50px;
  height: 50px;
}

img {
  height: 400px;
}

.img-day {
  width: 400px;
}

.layout-nav {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.container-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 50px;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.background-container {
  margin: 0 50px;
  padding: 20px;
  background-color: white;
  color: #000000;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.text-container {
  padding: 0 30px;
  width: 400px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 20px;
  justify-content: center;
}
.search-form {
  margin-top: 20px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 400px;
  background: #000000;
}
