body {
  font: 14px Fragile Bombers;
  margin: 0;
  background-image: url("/images/stars-background.avif");
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
}
h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
h3 {
  text-align: center;
  font-size: 20px;
}
.link-button {
  color: rgb(255, 255, 255);
}

a,
.dropdown span {
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-decoration: none;
}

/* .img-logo {
  height: 50px;
} */

.moon-logo {
  height: 80px;
}

.img-gallery {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(80, 80, 80, 0.2),
    0 6px 20px 0 rgba(94, 94, 94, 0.2);
}

.img-day {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(80, 80, 80, 0.2),
    0 6px 20px 0 rgba(94, 94, 94, 0.2);
}

.layout-nav {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.container-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 50px;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: white;
  color: #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.background-container {
  align-items: center;
  margin: 150px;
  padding: 0 50px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.page-title {
  text-align: center;
  font-size: 30pt;
  text-shadow: 2px 4px rgba(0, 4, 111, 0.607);
}
.subtitle {
  padding: 0 50px;
}

.library-link {
  margin: 0 50px;
  padding: 0 50px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.center-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 100px;
}
.text-container {
  width: 400px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 20px;
  justify-content: center;
}

.search-form {
  color: #000000;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  /* border: 1px solid grey; */
  width: 400px;
  background: #000000;
}
.search-btn,
input {
  font-size: larger;
  background-color: #000000;
  color: white;
  font-family: Fragile Bombers;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.img-description {
  text-align: justify;
  font-size: 18pt;
}

.signup {
  text-align: center;
  font-size: 20px;
  padding: 50px;
}
.h1-signup {
  font-size: 40px;
}
.login {
  text-align: center;
  font-size: 20px;
  padding: 30px;
  /* background-image: url(/public/images/man-looking-stars.jpeg); */
}

.h1-login {
  font-size: 40px;
}

.favorites-btn {
  background-color: #000000;
  color: white;
  font-family: Fragile Bombers;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.submit-btn {
  background-color: #000000;
  color: white;
  font-family: Fragile Bombers;
  font-size: 20px;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
}

.new-img-form {
  text-align: center;
  font-size: 20px;

  padding: 60px;
}

.sub-btn {
  padding: 20px;
}

.edit-btn {
  background-color: #000000;
  color: white;
  font-family: Fragile Bombers;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.delete-btn {
  background-color: #000000;
  color: white;
  font-family: Fragile Bombers;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.edit-form {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.save-img-btn {
  background-color: #000000;
  color: white;
  font-family: Fragile Bombers;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.save-div {
  padding: 20px;
}

.profile-btn {
  padding: 20px;
}

.man-looking-stars {
  position: absolute;
  width: 500px;
}
