<div class="background-container">

  <h1>Favorites</h1>
  <div class="grid-container">
    {{#each favorites}}
      <div>
        <a href="/library/{{this.0.data.0.nasa_id}}"><img
            class="img-day"
            src="{{this.0.links.0.href}}"
            alt="Picture of the day"
          /></a>
        <h1>{{this.0.data.0.title}}</h1>
        <a href="/library/{{this.0.data.0.nasa_id}}">See more</a>
      </div>
    {{/each}}
  </div>
</div>