<form action="/private/create" method="post">
  <label>Name:
    <input type="text" name="name" />
  </label>
  <label>Description:
    <input type="text" name="description" />
  </label>
  <label>
    Image Url:
    <input type="text" name="image" />
  </label>
  <div>
    <button class="submit-btn" type="submit">Create Image</button>
  </div>
</form>