<div class="background-img">
  <div class="background-container">

    <form class="input-container" action="/private/create" method="post">

      <div class="form-container">
        <label>Name:
          <input class="create-input" type="text" name="name" />
        </label>
      </div>

      <div class="form-container">
        <label>Description:
          <input class="create-input" type="text" name="description" />
        </label>
      </div>

      <div class="form-container">
        <label>
          Image Url:
          <input class="create-input" type="text" name="image" />
        </label>
      </div>
      <br />
      <div class="sub-btn">
        <button class="default-btn">Create Image</button>
      </div>
  </div>
</div>
    </form>
