{{! <h1>Hello</h1> }}

<a class="profile-btn" href="/private-library">Library</a>

{{#if isAdmin}}
  <a class="profile-btn" href="/admin">Private</a>
{{/if}}

{{! <div><img
    class="man-looking-stars"
    src="/images/man-looking-stars.jpeg"
    alt="moon"
  /></div> }}